#toolbar {
	height: 43px;
	top: 0;
	position: fixed;
	z-index: 4;
	width: 100%;
	border-bottom: solid 1px #ca2100;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	background-color: #009688;
	border-color: #e3e3e3;
}

a {
	color: #FFAB40;
	cursor: pointer;
}

.highlighted {
	background-color: #FFAB40;
}

.icon_logo {
	background: url(../images/logo.svg) 0 0 no-repeat;
	margin-top: 2px;
	width: 25px;
	height: 25px;
}

.center {
	text-align: center;
}

#logo-image:hover {
	cursor: pointer;
}

body {
	margin: auto;
	margin-left: 0;
	color: #202020;
	background-color: #fafafa;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 14px;
	padding: 0 !important;
	margin-bottom: 0 !important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mdl-layout__content {
	width: 100%;
}

li {
	text-align: left;
}

#toolbar_inner {
	max-width: 950px;
	height: 100%;
}

#logo {
	float: left;
	margin-left: 20px;
	padding-top: 9px;
}

#content {
	max-width: 950px;
	min-height: 380px;
	margin-left: 0px;
	vertical-align: top;
	margin-left: 150px;
	margin-top: 72px;
}

@media (max-width:950px) {
	#content {
		margin-left: 0px;
	}
}

@media (min-width:950px) {
	#content {
		width: 680px;
	}
}
